h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #00192d;
  margin: 0;
  text-align: center;
}

.green-text {
  color: #2bb673;
}

.canvas {
    margin: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2.8px 6.5px rgba(0,0,0,.014), 0 7.8px 18px rgba(0,0,0,.017), 0 18.7px 43.4px rgba(0,0,0,.021), 0 62px 144px rgba(0,0,0,.04);

    &-wrapper {
      text-align: center;
    }
}


.body-wrapper {
  min-height: 100vh;
  background: linear-gradient(297.5deg,#0e3554 10.17%,#0a2942 94.99%);
}

.dark-bg {
  background: url(https://f.hubspotusercontent00.net/hubfs/6965604/Website%20Images/data-bg.png) bottom/100% auto no-repeat,linear-gradient(279.18deg,#0a2942 17.77%,rgba(0,25,45,0) 89.05%),url(https://f.hubspotusercontent00.net/hubfs/6965604/Branding/CyberCube_Branding_March2020/Image/pattern.png) 0 0/32px repeat,#00192d;
}
